/* Global */
html {
    height: 100%;
}

body {
    /* background: url("https://d276vs7inno1cd.cloudfront.net/rani-ramli-geometric.jpg") no-repeat center; */
    background-size: cover;
    font-family: "Lato";
    /* color: #d8243c; */
    color: #869ab8;
}

#content {
    text-align: center;
    padding-top: 25%;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

h1 {
    font-weight: 700;
    font-size: 5em;
}

hr {
    width: 400px;
    border-top: 1px solid f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.myBrand {
    background-color: #ffffff;
   /* border-radius:20px;
    height: inherit;*/
}

.navbar-brand {

    padding-top: 0;
    padding-bottom:0;
    /*background-color:#ffffff;*/
    border-radius: 25px;
    height:49px;
    /*padding-left:  0;*/
}

.f3-header {
  color: #d8243c;
}

.f3-padding-50 {
  padding-top: 50px !important;
}

.f3-logo-top {
  z-index: 2;
  position: absolute;
  /* display: block; */
  margin-left: 46%;
  margin-right: auto;
  width: 8%;
  left: 0px;
  top: 0px;
  background-color: #ffffff;

  /* shaping border-radius */
  /* border-top-left-radius: 80%;
  border-top-right-radius: 80%; */
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 10%;
  /* End of shaping border-radius */

  border-top-color: rgba(255, 255, 255, 1);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgb(216, 36, 60);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(216, 36, 60);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(216, 36, 60);
  border-left-style: solid;
  border-left-width: 1px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;

  /* border: 1px solid #007bff; */
}

.w3-tag {
  background-color: #007bff99 !important;
  color: #000 !important;
  padding-bottom: 5px;
  font-weight: 700;
}

.w3-button:hover {
  background-color: #007bff !important;
  color: #ffffff !important;
}

.f3-nav-item-center {
  color: #007bff !important;
  font-weight: 600;
}

.f3-nav-border {
  border-top-color: rgba(216, 36, 60, 0.35);
  /* rgb(216, 36, 60); */
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-color: rgba(216, 36, 60, 0.35);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}

.f3-blue{
  background-color: #007bff;
}

.f3-red {
  background-color: #d8243c;
}

.f3-white {
  background-color: #ffffff;
}

.text-muted {
  coloe: #869ab8 !important;
}

.text-red {
  color: #d8243c !important;
}

.pt-4, .py-4 {
    padding-top: 7.5rem!important;
}

.display-3 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}
